@media  screen and (max-width: 991px) {
    h1{
        font-size:2.5rem;
    }
    
    h2{
        font-size:1.5rem;
    }
    h3{
        font-size: 1.2;
    }
    h4{
        font-size: 1rem;
        font-weight: 400;
    }
    #nav-toggle{
        display: block;
        margin-right: 20px;
        color: greenyellow;
    }
    
    #nav-links{
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.3s ease-in-out;
    }

    #nav-links.active{
        left: 0;
    }

    #nav-links ul{
        flex-direction: column;
    }

    .main-nav{
        overflow: initial;
       
    }

    .header img{
        width: 350px;
        padding: 55px;
        /* margin-left: 200px;
        margin-right: 20px; */
    }
    
    .about-image{
        width: 400px;
        padding-block: 20px;
    }

    .project-img img{
        width: 300px;
        padding-block: 15px;
    }

    .skills-area{
        gap: 20px;
    }
   

    .skills-card{
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-section{
        padding-block: 35px;
    }

    .footer-section{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:776px) {
    .header{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .text-area{
        max-width: 100vw;
        text-align: center;
        margin-bottom: 20px;
      }

      .about-section{
        flex-direction: column;
        gap: 50px;
      }

      .about-text{ 
        text-align: center;
      }

      .about-image{
        width: 350px;
        padding: 20px;
    }

      /* .secondary-btn{
        width: 100%;
      } */

      .skills-card{
        min-width: calc(50% - 10px);
      }

      .expertise{
        text-align: center;
      }
      .latest-work, #second-project{
        flex-direction: column;
      }

      .project{
        text-align: center;
      }
      .project-desc{
        width: 100vw;
        text-align: center;
        margin-bottom: 50px;
      }

      h4{
        text-align: center;
      }

      .footer-container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
      }

      .footer-links {
        flex-direction: column;
      }

      .nav-links{
        flex-basis: 0px;
      }

      .sub-footer-container{
        font-size: small;
      }
}

@media  screen and (max-width: 479px) {
    :root{
        --padding-inline-section:10px
    }

    h1 {
        font-size: 2rem;
      }
      
      h2 {
        font-size: 1.2rem;
      }
      
      h3 {
        font-size: 1rem;
      }
      h4{
        font-size: 1rem;
        font-weight: 400;
    }
      p{
        font-size: 1rem;
      }

      .header{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .secondary-btn{
      display: inline-block;
      width: 100%;
    }
  
      .skills-card{
        min-width: 100%;
      }

      .project-img img{
        width: 250px;
        padding-block: 15px;
    }

    .project-desc{
      margin-bottom: 50px;
    }
    .logo img{
        width: 120px;
    }
    
}