/* Global styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global declaration */
:root{
    --primary-text-color: #ffffff;;
    --secondary-text-color: #5fff3f;
    --accent-color: #2d2d57;
    --accent-color-dark: #2cc44ac8;
    --padding-inline-section: 20px;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-text-color);
    background-color: #131325;
}

/* Text Styling */
h1{
    font-size:3rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5;
}
h4{
    font-size: 1.2rem;
    font-weight: 400;
}
p{
    font-size: 1rem;
    line-height: 1.8rem;
    color: darkgray;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.primary-btn{
    background-color: var(--accent-color-dark);
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    transition: 0.25s ease-out;
    position: relative;
}

.primary-btn:hover{
    background-color: #4ac532;
    
}

.secondary-btn{
    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    transition: 0.25s ease-out;
}

.secondary-btn:hover{
background-color: #5d4ba4;;
}



/* utility classes */
.container{
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
    padding-inline:var(--padding-inline-section) ;
}

.flex{
    display: flex;
    align-items: center;
}

.border{
    border: 2px solid red;
}

/* Nav bar  */
.top-nav{
    background-image:url(../img/asset\ 32.png);
    background-size: 300px;
    
}
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    
}

.nav-links{
    flex-basis: 500px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-links a{
    color: white;
    transition: 0.25s ease-out;
}

.nav-links a:hover{
    color: var(--accent-color-dark);
}

.logo img{
    width: 200px;
}

/* hamburger menu */
.nav-toggle{
    display: none;
}
/* header section */
.header{
    justify-content:space-between;
    gap: 100px;
}

/* .view-height{
    height: 70vh;
} */

.text-area h1{
    margin-top: 20px;
    font-weight: 500;
  }
  
.header img{
    width: 400px;
    padding: 55px;
    /* margin-left: 200px;
    margin-right: 20px; */
}

.text-area{
    max-width: 70vw;
}

.text-area p{
    margin-bottom: 30px;
}

/*  About Section  */
.about-section{
    justify-content:space-between;
    gap: 80px;
}
.about-image{
    width: 450px;
    padding-block: 20px;
}

#text-about{
    width:45% ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-text h2{
    font-weight:500 ;
    margin-top: 20px;
}

/* Skills Section */
.skills-section{
    padding: 80px var(--padding-inline-section);
}

.skills-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.skills-area h3{
    color: white;
    font-weight: 500;
}

.skills-card{
    background: linear-gradient(rgba(80, 198, 16, 0.1), rgba(47, 59, 160, 0.8)) ,url(../img/rear-view-programmer-working-all-night-long.jpg);
    width: 23%;
    height: 300px;
    background-size: cover;
    transition: 1s ease-in;
    
}

.skills-card:hover{
    background:url(../img/rear-view-programmer-working-all-night-long.jpg);
    width: 23%;
    height: 300px;
    background-size: cover;
    
}
.expertise {
    margin-top: 20px;
}

/* Project section */
.project{
    margin-top: 20px;
}
.project-img img{
    width: 350px;
    padding-block: 20px;
    border: 2px solid transparent;
}

.latest-work{
    justify-content: space-between;
    gap: 60px;
}

.project-desc{
    align-items: center;
}

.project-desc p{
    margin-bottom: 30px;
}

#second-project{
    flex-direction: row-reverse;
}

/* cta section */
.cta-section{
    margin-top: 20px;
    /* height: 55vh; */
    background-image:url(../img/asset\ 32.png);
    background-size: 300px;
}
.cta-container{
    flex-direction: column;
    margin-top: 40px;
}

.cta-container img{
    width: 100px;
    margin-bottom: 30px;
}
.cta-container h4{
    color: darkgray;
}
.cta-container h4, h2{
    font-weight: 500;
    margin-bottom: 30px;
}

/* Footer section */
.footer-section{
    margin-top: 60px;
    margin-bottom: 30px;
}

/* sub footer section */
.sub-footer-section{
    background-color: var(--accent-color);
    padding: 25px;
    
}


.sub-footer-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}

.sub-footer-container a{
    color: white;
}